.footer {
    position: relative;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 60px;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

.footer__shape {
    position: absolute;
    display: none;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer__content {
    margin-left: auto;
    margin-right: auto;
}

.footer__list {
    list-style: none;
    margin-bottom: 100px;
}

.social__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.list__link {
    text-decoration: none;
    color: white;
}

.footer__list>.list__item:first-child {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer__list>.list__item:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 500;
}

.social__list>.list__item .list__link {
    padding-left: 9px;
    padding-right: 9px;
}

.footer__copyright {
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .footer__shape {
        display: flex;
    }
}